html,
body {
		padding: 0;
		margin: 0;
}

body {
		font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
		margin-top: 5px;
		margin-left: 5px;
		display: flex;
		flex-direction: row;
}

.container button {
		font-size: 1.25rem;
}

.controls {
		display: flow-root;
		flex-direction: column;
		width: 20%;
		margin-right: 10em;
}

.mediacontrols {
		display: flex;
		flex-direction: row;
}

#videopreview {
		width: 20em;
}


#listdiv {
		margin-left: 4em;
}

#list {
		list-style: none;
		padding-left: 0;
		cursor: pointer;
}

#list .sort-handle {
		display: none;
}

#list .ui-selected .sort-handle {
		display: inline;

}

li.ui-selected {
		background-color: #8888cc;
		color: white;
		font-weight: bold;
		background-image: none;
}

li.ui-selecting {
		background-color: #ccccff;
		color: white;
		background-image: none;
}

.hidden {
		opacity: 0;
		margin-right: -225px;

}

li.ui-selected {
		padding-left: 1.5em;
}
